:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --secundary-background-color: #e5e5e5;
  --accent: #4d5ae5;
  --button-background-color: #f4f4fd;
}
/*Header*/
header {
  background-color: #ffffff;
}
/*Body*/
body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/*Site nav*/
/*Logo*/
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent);
}
header span {
  color: var(--secondary-text-color);
}
footer .studio {
  color: #f4f4fd;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.studio a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.studio a:hover {
  color: #404bbf;
}
.studio a:focus {
  color: #404bbf;
}
.portfolio a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.portfolio a:hover,
a:focus {
  color: #404bbf;
}
.contacts-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contacts-nav a:hover,
a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.mail a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.mail a:hover,
a:focus {
  color: #404bbf;
}
.phone a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.phone a:hover,
a:focus {
  color: #404bbf;
}
/*Hero*/
.hero {
  color: #ffffff;
  background-color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
/*Hero Button*/
.hero-button {
  color: #ffffff;
  background-color: var(--accent);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button :hover {
  background-color: #404bbf;
}
.hero-button :focus {
  background-color: #404bbf;
}
.hero-button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/*What we are doing*/
.services {
  text-align: center;
}
/*Our Team*/
.our-team {
  background-color: #f4f4fd;
}
.team {
  text-align: center;
}
.colleagues {
  background-color: #ffffff;
}

.paragraph {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
}

/*Filter*/
.filter button {
  color: var(--accent);
  background-color: var(--button-background-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
}

.filter button:hover,
button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.filter h2 {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.page-footer {
  background-color: var(--secondary-text-color);
}
